@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    /* Colors */
    .color-scissors-gradient {
        background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
        background-repeat: no-repeat;
    }
    .color-paper-gradient {
        background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
        background-repeat: no-repeat;
    }
    .color-rock-gradient {
        background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
        background-repeat: no-repeat;
    }
    .color-lizard-gradient {
        background: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
        background-repeat: no-repeat;
    }
    .color-cyan-gradient {
        background: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
        background-repeat: no-repeat;
    }
    .color-header {
        color: hsl(229, 25%, 31%);
    }
    .color-bg-main {
        background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        background-repeat: no-repeat;
    }
    /* Text */
    .text-dark {
        color: hsl(229, 25%, 31%);
    }
    .text-score {
        color: hsl(229, 25%, 31%);
    }
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}